---
# Install packages or ports.

  # Poudriere packages
- name: "Pkg: Install poudriere packages"
  community.general.pkgng:
    name: "{{ poudriere_packages }}"
  register: result
  retries: "{{ freebsd_install_retries }}"
  until: result is succeeded
  delay: "{{ freebsd_install_delay }}"
  when: freebsd_install_method | lower == "packages"

- name: "Pkg: Install poudriere ports"
  community.general.portinstall:
    name: "{{ item }}"
    use_packages: "{{ freebsd_use_packages | d(omit) }}"
  loop: "{{ poudriere_packages }}"
  register: result
  retries: "{{ freebsd_install_retries }}"
  until: result is succeeded
  delay: "{{ freebsd_install_delay }}"
  when: freebsd_install_method | lower == "ports"

  # Certificate packages
- name: "Pkg: Install packages to create certificate"
  community.general.pkgng:
    name: "{{ poudriere_packages_cert }}"
  register: result
  retries: "{{ freebsd_install_retries }}"
  until: result is succeeded
  delay: "{{ freebsd_install_delay }}"
  when: freebsd_install_method | lower == "packages"

- name: "Pkg: Install ports to create certificate"
  community.general.portinstall:
    name: "{{ item }}"
    use_packages: "{{ freebsd_use_packages | d(omit) }}"
  loop: "{{ poudriere_packages_cert }}"
  register: result
  retries: "{{ freebsd_install_retries }}"
  until: result is succeeded
  delay: "{{ freebsd_install_delay }}"
  when: freebsd_install_method | lower == "ports"

# EOF
