# {{ ansible_managed }} 

ZPOOL={{ poudriere_conf_zpool }}
NO_ZFS={{ poudriere_conf_no_zfs }}
ZROOTFS={{ poudriere_conf_zrootfs }}
FREEBSD_HOST={{ poudriere_conf_freebsd_host }}
RESOLV_CONF={{ poudriere_conf_resolv_conf }}
BASEFS={{ poudriere_conf_basefs }}
POUDRIERE_DATA={{ poudriere_conf_poudriere_data }}
USE_PORTLINT={{ poudriere_conf_use_portlint }}
USE_TMPFS={{ poudriere_conf_use_tmpfs }}
DISTFILES_CACHE={{ poudriere_conf_distfiles_cache }}
PKG_REPO_SIGNING_KEY={{ poudriere_conf_pkg_repo_signing_key }}
URL_BASE={{ poudriere_conf_url_base }}
CHECK_CHANGED_OPTIONS={{ poudriere_conf_check_changed_options }}
CHECK_CHANGED_DEPS={{ poudriere_conf_check_changed_deps }}

# EOF
