# {{ ansible_managed }} 

ZPOOL={{ poudriere_conf_ZPOOL }}
NO_ZFS={{ poudriere_conf_NO_ZFS }}
ZROOTFS={{ poudriere_conf_ZROOTFS }}
FREEBSD_HOST={{ poudriere_conf_FREEBSD_HOST }}
RESOLV_CONF={{ poudriere_conf_RESOLV_CONF }}
BASEFS={{ poudriere_conf_BASEFS }}
POUDRIERE_DATA={{ poudriere_conf_POUDRIERE_DATA }}
USE_PORTLINT={{ poudriere_conf_USE_PORTLINT }}
USE_TMPFS={{ poudriere_conf_USE_TMPFS }}
DISTFILES_CACHE={{ poudriere_conf_DISTFILES_CACHE }}
PKG_REPO_SIGNING_KEY={{ poudriere_conf_PKG_REPO_SIGNING_KEY }}
URL_BASE=http://{{ ansible_default_ipv4.address | default('127.0.0.1') }}/
CHECK_CHANGED_OPTIONS={{ poudriere_conf_CHECK_CHANGED_OPTIONS }}
CHECK_CHANGED_DEPS={{ poudriere_conf_CHECK_CHANGED_DEPS }}

# EOF
